.title {
    width: 100%;
    text-align: center;
}

.auth{
    text-align: center;
    opacity: 0.7;
}

.introImage{
    width: 100%;
}

.readLink {
    text-decoration: underline;
    opacity: 0.6;
}

.readLink:hover {
    opacity: 1;
}

.postText a {
    opacity: 0.7;
    text-decoration: underline;
    color: blue;
}

.postText a:hover {
    opacity: 1;
    color: blue;
}
.postImage{
    width: 100%;
}
