.ourWorkContainer {
    padding-top: 60px;
}

.projectFeaturesItem {
    border: 1px solid #b4cbef;
    font-size: 11px;
    font-weight: bold;
    color: #666b9a;
    padding: 7px 10px 5px 10px;
    border-radius: 15px;
}

.servicesContainer {
    border-bottom: 2px solid #b4cbef;
    padding-top: 100px;
    padding-bottom: 60px;
}

.grayBg {
    background-color: #F1F6FF;
    padding-bottom: 100px;
}
