.footerContainer {
    background-color: #353b75;
    color: white;
    margin-top: 140px;
}
.footerRow {
    padding-top: 40px;
    padding-bottom: 10px
}

.icon{
    color: white;

}
.icon:hover{
    transform: scale(1.3);
}
