.headerStyle {
    position: relative;
    z-index: 100;
}

.transparentBg {
    position: absolute;
}

.blur {
    background: transparent;
    width: 100vw;
    height: 87vh;
    backdrop-filter: blur(4px);
    top: 7em;
    left: 0;
    z-index: 50;
    transition: .7s;
}


/*.patch {*/
/*    background-color: #fff;*/
/*    width: 56px;*/
/*    height: 25px;*/
/*    top: 61px;*/
/*    right: 16px;*/
/*    z-index: 300;*/
/*}*/

/*.navbar-light .navbar-toggler {*/
/*    border-color: rgba(0,0,0,0);*/
/*}*/

/*.navbar-toggler {*/
/*    padding: .75rem .75rem;*/
/*}*/

.navbar-light .navbar-nav .nav-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.8px;
    color: #021E4D;
    text-decoration: underline;
}

.toggle {
    border: none;
}

@media screen and (max-width: 991px) {
    .link {
        border-bottom: 1px solid #f1f6ff;
    }

    .link:last-child {
        border-bottom: none;
    }
}

/*@media screen and (max-width: 1200px) {*/
/*    .navbar-light .navbar-nav .nav-link {*/
/*        padding-right: 1rem;*/
/*    }*/
/*}*/
