.headerStyle {
    position: relative;
    z-index: 100;
}

.transparentBg {
    position: absolute;
}

.blur {
    background: transparent;
    width: 100vw;
    position: absolute;
    height: 87vh;
    backdrop-filter: blur(4px);
    top: 7em;
    left: 0;
    z-index: 50;
}

.show .navbar-nav a {
    border-bottom: 1px solid #f1f6ff;
}