.introPictureContainer {
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
}

.fontBold {
    font-family: 'CamphorProBold', sans-serif;
}

.introProductText {
    opacity: 0.8;
    font-size: 12px;
}

.infoText {
    white-space: pre-line;
    font-size: 15px;
    margin-bottom: 2rem;
}

.ceoName {
    font-size: 13px;
}

.ceoPosition {
    margin-bottom: 10px;
    opacity: 0.8;
    width: 100%;
    font-size: 12px;
}

.mainContentProject h4{
    line-height: 24px;
    font-family: 'CamphorProBold', sans-serif;
}

.devInfo h5 {
    font-family: 'CamphorProBold', sans-serif;
}

.businessText {
    margin-top: 2rem;
}
